extends layout

block content
  p
    | Hi 
    = user_name
    | !
  p
    b
      = client_name
    |  is requesting
    b  full access
    |  to your account.
  p Do you approve?
  form(action='/api/oauth2/authorize' method='post')
    input(name='transaction_id' type='hidden' value=transaction_id)
    div
      input#allow(type='submit' value='Allow')
      input#deny(type='submit' value='Deny' name='cancle')
      